.result_container{
    border: 2px solid black;
    margin-top: 4rem;
    border-radius: 1rem;
    background-color: rgb(230, 221, 196);
    color: black;
    width: 46rem;
    padding: 10px;
    font-size: larger;
    overflow-wrap: break-word;
    height: fit-content;
    

}

/* ==========Media  Queries (medium devices) =============*/

@media screen and (max-width: 1024px) {
    .result_container{

        width: 36rem;

    
    }
}

/* ==========Media  Queries (small devices) =============*/

@media screen and (max-width: 600px) {
    .result_container{

        width: 18rem;
        overflow-wrap: break-word;
    
    }
}